[submodule "vim/bundle/AsyncCommand"]
	path = vim/bundle/AsyncCommand
	url = https://github.com/pydave/AsyncCommand.git
[submodule "vim/bundle/coq.vim"]
	path = vim/bundle/coq.vim
	url = https://github.com/qnighy/coq.vim.git
[submodule "vim/bundle/fsharp-vim"]
	path = vim/bundle/fsharp-vim
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "vim/bundle/vim-j"]
	path = vim/bundle/vim-j
	url = https://github.com/guersam/vim-j.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "site-lisp/scala-mode2"]
	path = site-lisp/scala-mode2
	url = https://github.com/ensime/emacs-scala-mode.git
[submodule "site-lisp/proofgeneral"]
	path = site-lisp/proofgeneral
	url = https://github.com/emacsattic/proofgeneral.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/evil"]
	path = site-lisp/evil
	url = https://github.com/emacsmirror/evil.git
[submodule "vim/bundle/vim-hoogle"]
	path = vim/bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/vim-glsl"]
	path = vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/bundle/glsl.vim"]
	path = vim/bundle/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/happy.vim"]
	path = vim/bundle/happy.vim
	url = https://github.com/qnighy/happy.vim.git
[submodule "vim/bundle/alex.vim"]
	path = vim/bundle/alex.vim
	url = https://github.com/qnighy/alex.vim.git
[submodule "vim/bundle/kappa.vim"]
	path = vim/bundle/kappa.vim
	url = https://github.com/qnighy/kappa.vim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vim-llvm-new"]
	path = vim/bundle/vim-llvm
	url = https://github.com/rhysd/vim-llvm.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/neco-vim"]
	path = vim/bundle/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "vim/bundle/vimdoc-ja"]
	path = vim/bundle/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/tabbar"]
	path = site-lisp/tabbar
	url = https://github.com/dholm/tabbar.git
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
